## .NET
bin/
obj/
out/

## IDE (Rider / VS)
.idea/
.vs/
*.user
*.suo

## User secrets / env
appsettings.*.local.json
*.env

## Logs
*.log

## OS
.DS_Store
Thumbs.db
backend/src/JobWay.API/appsettings.Development.json
wwwroot/uploads/

firebase-credentials.json
google-services.json

## Android signing
android/key.properties
*.jks